/* Styles for teaching */


body {
  /* background: #444; */
  /* color: #fff; */
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

:root {
  --color-black: #000000;  
  --color-white: #ffffff;
  --color-dark: #353535;
  --color-dark-variant: #555555;
}

p {
  margin: 0 0 13px 0;
}

.teaching-heading {
  text-align: center; 
  margin-bottom: 20px;
}

.teaching-container {
  width: 95%;
  max-width: 1200px;
  margin: 20px auto;
}

.course {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
  margin: 20px auto;
}

.course__number {
  font-size: 5vw;
  font-weight: 600;
  color: #001233;
  padding: 10px 0;
  position: sticky;
  top: 0;
  text-align: center;
  height: calc(10vw + 20px);
  transition: all 0.2s ease-in;
}

.course__content {
  border-top: 2px solid var(--color-dark);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 15px;
  padding: 15px 0;
  width: 90%;
}

.course-title {
  color: #001233;
}

.course__content .course-title {
  font-weight: 600
}

.course__content .course-details {
    line-height: 26px;
    column-count: 2; /* Adjust the number of columns as needed */
    column-gap: 10px; /* Adjust the gap between columns as needed */
}

.course-link {
  width: 10rem;
  height: 3rem;
  font-size: 11px;
}
  

@media (max-width: 600px) {
  .course,
  .teaching-container {
    width: 100%;
    column-gap: 10px;
  }
  .course__content {
    grid-template-columns: 1fr;
  }
  .course__content .course-details {
    font-size: 15px;
    column-count: 1; /* Change to a single column on smaller screens */
  }
  .teaching-heading {
      font-size: 5vw;
  }
  .course-details {
    display: column;
  }
  .course__number {
    font-size: 11vw;
  }
}

@media (min-width: 1600px) {
  .course-link {
    font-size: 12px;
  }
}


/* Additional styles for grading page */
.grading-table {
    width: 30%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-left: 20px;
}

.grading-table th, .grading-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.grading-table th {
    background-color: #f2f2f2;
}

.assignment {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
}

.assignment h2 {
    color: #333;
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
}

.problem {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.problem b {
    color: #555;
    font-size: 24px;
    margin-bottom: 10px;
}

.problem p {
    color: #777;
    font-size: 16px;
}

.problem ol {
    color: #777;
    font-size: 16px;
}

.due-date {
    color: #999;
    font-size: 14px;
    text-align: center;
    margin-top: -10px;
}

.custom-list {
    list-style: none;
    counter-reset: my-counter;
}

.custom-list li {
    position: relative;
    counter-increment: my-counter;
    margin-bottom: 10px;
    padding-left: 25px;
    color: #777;
    font-size: 16px;
}

.custom-list li::before {
    content: "(" counter(my-counter, lower-alpha) ")";
    position: absolute;
    left: 0;
}

.center-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #777;
    height: 40vh; /* Set the height of the container to the viewport height for vertical centering */
    width: 40vh;
    margin: 10px auto;
}

.center-img img {
    max-width: 100%; /* Limit the image width to the container's width */
    max-height: 100%; /* Limit the image height to the container's height */
}

/* Styles for smaller screens */
@media screen and (max-width: 768px) {
    .assignment {
        max-width: 92%;
        padding: 10px;
    }

    .problem {
        padding: 15px;
        align-items: center;
    }

    /* Adjust font size for equations */
    .problem p, .problem b, .problem {
        font-size: 14px; /* You can adjust this value as needed */
    }

    /* Adjust line heights and margins for equations */
    .problem p, .problem b {
        line-height: 1;
        margin-bottom: 2px;
    }
}

.teaching-content {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  /* background-color: orange; */
}

@media (max-width: 600px) {
  .teaching-content {
    width: 95%;
  }

  .page-title {
    width: 100%;
    font-size: 24px;
  }
}