<!-- Paste the work one after another the oldest one is on the top -->
 <li>
    <div class="publication-card" style="border-left: 5px solid var(--accent-color);">
        <span class="ongoing-badge">Work in Progress</span><br>
        <span class="publication-title">
            A Royal Road to the Basic Theory of Unbounded Operators on Hilbert Space
        </span>
        <span class="publication-authors publication-size"><span class="my-name">I. Ghosh</span>, S. Nayak and G. Maiti</span>
    </div>
</li>
<li>
    <div class="publication-card" style="border-left: 5px solid var(--accent-color);">
        <span class="ongoing-badge">Work in Progress</span><br>
        <span class="publication-title">
            On Kadison-Kastler Distance
        </span>
        <span class="publication-authors publication-size"><span class="my-name">I. Ghosh</span> and S. Kumar</span>
    </div>
</li>
 <li>
    <div class="publication-card" style="border-left: 5px solid var(--accent-color);">
        <span class="ongoing-badge">Work in Progress</span><br>
        <span class="publication-title">
            On Connes-Størmer Entropy
        </span>
        <span class="publication-authors publication-size">K. C. Bakshi, <span class="my-name">I. Ghosh</span> and S. Nayak</span>
    </div>
</li>

<li>
    <div class="publication-card" style="border-left: 5px solid var(--accent-color);">
        <span class="ongoing-badge">Work in Progress</span><br>
        <span class="publication-title">
            On Regular Inclusions of Simple \(C^*\)-algebras
        </span>
        <span class="publication-authors publication-size">K. C. Bakshi and <span class="my-name">I. Ghosh</span></span>
    </div>
</li>
