<!-- Paste the work one after another the oldest one is on the top -->
{% for work in ongoing_works %}
<li>
    <div class="publication-card" style="border-left: 5px solid var(--accent-color);">
        <span class="ongoing-badge">Work in Progress</span><br>
        <span class="publication-title">
            {{ work.title|safe }}
        </span>
        <span class="publication-authors publication-size">
            {% for author in work.authors %}
                {% if author.is_me %}<span class="my-name">{{ author.name }}</span>{% else %}{{ author.name }}{% endif %}{% if not loop.last %}{% if loop.revindex0 == 1 %} and {% else %}, {% endif %}{% endif %}
            {% endfor %}
        </span>
    </div>
</li>
{% endfor %}
