<!-- Paste the work one after another the oldest one is on the top -->
{% for work in publications %}
<li>
    <div class="publication-card">
        <span class="publication-title">
            {{ work.title|safe }}
        </span>
        <span class="publication-authors publication-size">
            {% for author in work.authors %}
                {% if author.is_me %}<span class="my-name">{{ author.name }}</span>{% else %}{{ author.name }}{% endif %}{% if not loop.last %}{% if loop.revindex0 == 1 %} and {% else %}, {% endif %}{% endif %}
            {% endfor %}
        </span>
        <div class="publication-size">
            <cite>{{ work.journal_conference }}</cite>, Volume {{ work.volume }}, Issue {{ work.issue }}, 
            <span class="publication-date">{{ work.publication_date }}</span>, Pages {{ work.pages }}
        </div>
        <div class="links">
            {% if work.doi %}
            <a href="https://doi.org/{{ work.doi }}" target="_blank">IMRN</a>
            {% endif %}
            {% if work.arxiv_id %}
            <a href="https://arxiv.org/abs/{{ work.arxiv_id }}" target="_blank">arXiv</a>
            {% endif %}
            {% if work.researchgate_url %}
            <a href="{{ work.researchgate_url }}" target="_blank">ResearchGate</a>
            {% endif %}
        </div>
        <details class="abstract-details">
            <summary>Abstract</summary>
            <div class="abstract-content">
                {{ work.abstract|safe }}
            </div>
        </details>
    </div>
</li>
{% endfor %}
