<ul class="custom-ref-list">

    <li id="MvN-I">
        <strong>[R36]</strong> Murray, F. J. and von Neumann, J. (1936).
        <cite>
            <a href="https://www.jstor.org/stable/1968693" target="_blank">
                On Rings of Operators
            </a>
        </cite>.
        <em>Annals of Mathematics</em>, Second Series, <strong>37</strong>(1), 116–229.
    </li>

    <li id="mvn_ii">
        <strong>[R37]</strong> Murray, F. J. and von Neumann, J. (1937).
        <cite>
            <a href="http://www.jstor.org/stable/1989620" target="_blank">
                On Rings of Operators. II
            </a>
        </cite>.
        <em>Transactions of the American Mathematical Society</em>, <strong>41</strong>(2), 208–248.
    </li>

    <li id="mvn_iii">
        <strong>[R40]</strong> von Neumann, J. (1940).
        <cite>
            <a href="http://www.jstor.org/stable/1968823" target="_blank">
                On Rings of Operators. III
            </a>
        </cite>.
        <em>Annals of Mathematics</em>, <strong>41</strong>(1), 94–161.
    </li>

    <li id="mvn_iv">
        <strong>[R43]</strong> Murray, F. J. and von Neumann, J. (1943).
        <cite>
            <a href="http://www.jstor.org/stable/1969107" target="_blank">
                On Rings of Operators. IV
            </a>
        </cite>.
        <em>Annals of Mathematics</em>, <strong>44</strong>(4), 716–808.
    </li>

    <li id="grove_ped">
        <strong>[R84a]</strong> Grove, Karsten and Pedersen, Gert Kjærgård (1984).
        <cite>
            <a href="https://doi.org/10.1016/0022-1236(84)90053-3" target="_blank">
                Diagonalizing matrices over \(C(X)\)
            </a>
        </cite>.
        <em>Journal of Functional Analysis</em>, <strong>59</strong>, 65–89.
    </li>

    <li id="kad_diag">
        <strong>[R84b]</strong> Kadison, Richard V. (1984).
        <cite>
            <a href="https://www.jstor.org/stable/2374400" target="_blank">
                Diagonalizing Matrices
            </a>
        </cite>.
        <em>American Journal of Mathematics</em>, <strong>106</strong>, 1451–1468.
    </li>

    <li id="kr_i">
        <strong>[R97]</strong> Kadison, Richard V. and Ringrose, John R. (1997).
        <cite>
            <a href="https://bookstore.ams.org/gsm-15/" target="_blank">
                Fundamentals of the Theory of Operator Algebras. Vol. I: Elementary Theory
            </a>
        </cite>.
        <em>Graduate Studies in Mathematics</em>, <strong>15</strong>. 2nd printing with corrections. Providence, RI:
        American Mathematical Society.
    </li>

    <li id="kadison_liu_2014">
        <strong>[R14]</strong> Kadison, Richard V. and Liu, Zhe (2014).
        <cite>
            <a href="https://arxiv.org/abs/1401.6507" target="_blank">
                The Heisenberg relation — mathematical formulations
            </a>
        </cite>.
        <em>SIGMA</em>, <strong>10</strong>, paper 009, 40 pages.
    </li>

    <li id="ghosh_nayak_2024">
        <strong>[R24]</strong> Ghosh, Indrajit and Nayak, Soumyashant (2024).
        <cite>
            <a href="https://doi.org/10.1093/imrn/rnae203" target="_blank">
                Algebraic aspects and functoriality of the set of affiliated operators
            </a>
        </cite>.
        <em>International Mathematics Research Notices</em>, 2024(21), 13525–13562.
    </li>

</ul>