<ul class="custom-ref-list">

    <li id="MvN-I">
        <strong>[R36]</strong> Murray, F. J. and von Neumann, J. (1936).
        <cite>
            <a href="https://www.jstor.org/stable/1968551" target="_blank">
                On Rings of Operators
            </a>
        </cite>.
        <em>Annals of Mathematics</em>, Second Series, <strong>37</strong>(1), 116–229.
    </li>

    <li id="kadison_liu_2014">
        <strong>[R14]</strong> Kadison, Richard V. and Liu, Zhe (2014).
        <cite>
            <a href="https://doi.org/10.3842/SIGMA.2014.009" target="_blank">
                The Heisenberg relation — mathematical formulations
            </a>
        </cite>.
        <em>SIGMA</em>, <strong>10</strong>, paper 009, 40 pages.
    </li>

    <li id="ghosh_nayak_2024">
        <strong>[R24]</strong> Ghosh, Indrajit and Nayak, Soumyashant (2024).
        <cite>
            <a href="https://doi.org/10.1093/imrn/rnae203" target="_blank">
                Algebraic aspects and functoriality of the set of affiliated operators
            </a>
        </cite>.
        <em>International Mathematics Research Notices</em>, 2024(21), 13525–13562.
    </li>

    <li id="grove_ped">
        <strong>[R84a]</strong> Grove, Karsten and Pedersen, Gert Kjærgård (1984).
        <cite>
            <a href="https://doi.org/10.1016/0022-1236(84)90053-3" target="_blank">
                Diagonalizing matrices over \(C(X)\)
            </a>
        </cite>.
        <em>Journal of Functional Analysis</em>, <strong>59</strong>, 65–89.
    </li>

    <li id="kad_diag">
        <strong>[R84b]</strong> Kadison, Richard V. (1984).
        <cite>
            <a href="https://www.jstor.org/stable/2374397" target="_blank">
                Diagonalizing Matrices
            </a>
        </cite>.
        <em>American Journal of Mathematics</em>, <strong>106</strong>, 1451–1468.
    </li>

</ul>
