<form id="autoPostForm" method="POST" action="{{ url_for('main.preview_whisper') }}">
    <input type="hidden" name="user_name" value="{{ user_name }}">
    <input type="hidden" name="user_email" value="{{ user_email }}">
    <input type="hidden" name="user_message" value="{{ user_message }}">
    <input type="hidden" name="user_ip" value="{{ user_ip }}">
    <input type="hidden" name="user_platform" value="{{ user_platform }}">
    <input type="hidden" name="user_timestamp" value="{{ user_timestamp }}">
</form>

<script>
    document.getElementById('autoPostForm').submit();
</script>
