<!-- 
    base.html for the website 
    Author: Indrajit Ghosh
    Created On: Dec 22, 2023

    Google Fonts API:
    https://fonts.google.com/icons/
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hello! I'm a Senior Research Fellow at the Indian Statistical Institute, Bangalore, specializing in Operator Algebras, with a focus on von-Neumann algebras, Type II₁ factors, and C∗-algebras. Guided by Dr. Soumyashant Nayak, I passionately explore the worlds of science, mystery, and Bengali literature. Office: S6, ISI Bangalore | Email: rs_math1902@isibang.ac.in.">
    <meta name="keywords" content="Indrajit Ghosh, Indrajit Ghosh Mathematics, Indrajit Ghosh Mathematician, Senior Research Scholar, ISI Bangalore, Indian Statistical Institute Bangalore, SMU, Stat-Math Unit, Operator Algebras, von Neumann algebras.">
    <title>Indrajit Ghosh - {% block title %}{% endblock %}</title>

    {% block meta_tags %}
        <!-- Default meta tags go here -->
    {% endblock %}
    
    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/style.css') }}">
    
    <!-- The follwoing is for displaying logos for github, fb, twitter etc -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</head>

<body>

    <!-- Nav Bar Start -->
    <nav>
        <div class="container nav-container sidebar">
            <ul class="nav-links">
                <li onclick=hideSidebar() ><a class=""><svg xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 -960 960 960" width="28"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('teaching.index') }}">Teaching</a></li>
                <li><a href="{{ url_for('main.research') }}">Research</a></li>
                <li><a href="{{ url_for('main.cv') }}" target="_blank">CV</a></li>
                <li><a href="{{ url_for('main.photos') }}">Photos</a></li>
                <li><a href="{{ url_for('misc.index') }}">Misc</a></li>
            </ul>
        </div>

        <div class="container nav-container">
            <ul class="nav-links">
                <li><a href="" class="logo">Indrajit Ghosh</a></li>

                <li class="hideOnMobile"><a href="{{ url_for('main.index') }}">Home</a></li>
                <li class="hideOnMobile"><a href="{{ url_for('teaching.index') }}">Teaching</a></li>
                <li class="hideOnMobile"><a href="{{ url_for('main.research') }}">Research</a></li>
                <li class="hideOnMobile"><a href="{{ url_for('main.cv') }}" target="_blank">CV</a></li>
                <li class="hideOnMobile"><a href="{{ url_for('main.photos') }}">Photos</a></li>
                <li class="hideOnMobile"><a href="{{ url_for('misc.index') }}">Misc</a></li>
                
                <li class="menu-btn" onclick=showSidebar() ><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="28" viewBox="0 -960 960 960" width="28"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
            </ul>
        </div>
    </nav>
        
    <!-- Nav Bar End -->
        
    <!-- Content of the webpage -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer of the webpage -->
    <div class="footer-basic">
        <footer>
            <div class="social">
                <a href="https://github.com/indrajit912" target="_blank"><i class="icon ion-social-github"></i></a>
                <a href="https://in.linkedin.com/in/indrajit-ghosh-a98988292" target="_blank"><i class="icon ion-social-linkedin"></i></a>
                <a href="https://twitter.com/Meself_Indrajit" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://fb.com/indrajitghosh912" target="_blank"><i class="icon ion-social-facebook"></i></a>
                <a href="https://instagram.com/indrajitghosh912" target="_blank"><i class="icon ion-social-instagram"></i></a>
                <p class="copyright">&copy; 
                    <span id="copyright-year">
                        <script>
                            // JavaScript to print the current year
                            document.getElementById('copyright-year').appendChild(document.createTextNode(new Date().getFullYear()))
                        </script>
                    </span>
                    Indrajit Ghosh. All rights reserved.</p>
            </div>
            <!-- <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul> -->
        </footer>
    </div>


    <!-- Add this button at the bottom of your body tag -->
    <button id="scrollUpBtn" onclick="scrollToTop()">
        <div class="scrollup-circle">
            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 -960 960 960" width="30">
                <path d="M440-240v-368L296-464l-56-56 240-240 240 240-56 56-144-144v368h-80Z"/>
            </svg>
        </div>
    </button>

    <!--  Javascripts required for my website -->
    <script src="{{ url_for('main.static', filename='js/script.js') }}"></script>

    <!-- The follwoing is for displaying LaTeX code outputs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
        
    <!-- MathJax configuration for equations fitting on smaller screens -->
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            CommonHTML: {
                scale: 80,  // Adjust this value as needed
                linebreaks: { automatic: true },
                EqnChunk: 10,
                EqnChunkFactor: 1.5,
                EqnChunkDelay: 10,
                EqnChunkSize: MathJax.Hub.Browser.isMobile ? 10 : 50
            }
        });
    </script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            TeX: {
                extensions: ["AMSmath.js", "AMSsymbols.js", "esint.js"]
            }
        });
    </script>
    
</body>
</html>