{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block styles %}
     {{ super() }}
{% endblock %} 
 
{% block content %}

<section class="contact" id="contact">

    <h1 class="heading">Contact Me</h1>

    <div class="contact-form">
        <form action="">
            <input type="text" placeholder="Your name" required>
            <input type="email" placeholder="Email address ..." required>
            <textarea name="" id="" cols="30" rows="10" placeholder="Write a message here ..." required></textarea>
            <input type="submit" name="" value="Send Message" class="send-btn">
        </form>
    </div>

</section>

{% endblock %}