{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block styles %}
     {{ super() }}
{% endblock %} 
 
{% block content %}

<section class="contact" id="contact">

    <h1 class="heading">Contact Me</h1>

    <!-- Link to send a secret message -->
    <div class="text-center mt-3">
        <p>Got something private to share? <i class="bi bi-envelope-lock-fill"></i>
            <a href="{{ url_for('main.whisper') }}">Whisper it here</a>
        </p>
    </div>
    
    <!-- Link to GPG Key -->
    <div class="text-center mt-3 mb-3">
        <p>Need my <code>GPG Key</code> <i class="bi bi-key-fill"></i>? <a href="{{ url_for('main.gpgkey') }}">Click here</a></p>
    </div>

    <div class="contact-form">
        <form method="post" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Your name (required)" required class="custom-input">
            <input type="email" name="email" placeholder="Email address (required)" required class="custom-input">
            <input type="text" name="subject" placeholder="Subject (required)" required class="custom-input">
            <textarea name="message" cols="30" rows="10" placeholder="Write a message here ... (required)" required class="msg-input"></textarea>
            <div id="attachment-container" class="">
                <p>Attachment(s)</p>
                <div class="">
                    <input type="file" name="attachment[]" class="" onchange="validateFileSize(this)">
                    <button type="button" class="" onclick="clearAttachment(this)">Clear</button>
                </div>
            </div>
            <button type="button" id="add-more-btn" class="" onclick="addAttachmentField()">Attach More</button>
            <br>

            <button type="submit" class="send-btn" id="sendEmailBtn">
                Send
                <i class="bi bi-send-fill" id="send-icon"></i>
                <span id="sendEmailSpinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
            </button>            
            
        </form>
    </div>

</section>

<script>

    function validateFileSize(input) {
            var maxSize = 24 * 1024 * 1024;  // 24 MB in bytes
            var fileSize = input.files[0].size;
    
            if (fileSize > maxSize) {
                alert('File size must be less than or equal to 24 MB.');
                // Optionally, you can clear the file input to prevent form submission
                input.value = '';
                return false; // Prevent form submission
            }
          
            return true; // Continue with form submission
        }
    
    function addAttachmentField() {
          var container = document.getElementById('attachment-container');
          var newInput = document.createElement('div');
          newInput.innerHTML = '<input type="file" name="attachment[]" class="" onchange="validateFileSize(this)"><button type="button" class="" onclick="clearAttachment(this)">Clear</button>';
          container.appendChild(newInput);
      }

      function clearAttachment(button) {
          var input = button.previousElementSibling;
          input.value = ""; // Clear the file input
      }

      function validateForm() {
          // Add any additional form validation logic here
          return true; // Return false to prevent form submission
      }

      function toggleSpinner() {
          var spinner = document.getElementById('sendEmailSpinner');
          var sendIcon = document.getElementById('send-icon');
          sendIcon.classList.toggle('d-none');
          spinner.classList.toggle('d-none');
        }

        document.getElementById('sendEmailBtn').addEventListener('click', function () {
          // Show spinner before making the request
          toggleSpinner();

          setTimeout(function () {
            toggleSpinner();
          }, 5000); // Adjust the delay as needed
        });

  </script>

{% endblock %}