<!-- 
    Homepage for the Website
    Author: Indrajit Ghosh
    Created On: Dec 22, 2023
 -->

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block styles %}
{{ super() }}
<!-- Additional styles specific to this template go here -->
<style>
    @media (max-width: 768px) {
        .hide-on-mobile {
            display: none !important;
        }
    }
</style>
{% endblock %}


{% block content %}

<!-- Header Section Start -->

<header id="home">
    <div class="indra-container header-container">
        <div class="header-left">
            <img src="{{ url_for('main.static', filename='images/profile.jpg') }}" class="profile-pic"
                alt="Indrajit's profile picture">
        </div>
        <div class="header-right">
            <p><b>Hello, I'm</b></p>
            <h1>Indrajit Ghosh</h1>
            <h3>Postdoctoral Researcher</h3>
            <h2>Indian Institute of Technology Kanpur</h2>
            <span class="email-address">Email: {{ institute_email }}</span>
            <div class="header-action-area">
                <a href="#about-me" class="indra-btn indra-btn-dark">About me</a>
                <a href="{{ url_for('main.network') }}" class="indra-btn indra-btn-dark hide-on-mobile" style="background-color: #3182ce; border-color: #3182ce;"><i class="bi bi-diagram-3"></i> Network</a>
                <a href="{{ url_for('main.contact') }}" class="indra-btn">Contact</a>
            </div>
            <div class="header-social">
                <a href="https://github.com/indrajit912" target="_blank"><i class="icon ion-social-github"></i></a>
                <a href="https://www.linkedin.com/in/indrajit912/" target="_blank"><i
                        class="icon ion-social-linkedin"></i></a>
                <a href="https://twitter.com/Meself_Indrajit" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://fb.com/entangled.indra" target="_blank"><i class="icon ion-social-facebook"></i></a>
                <a href="https://instagram.com/entangled.indra" target="_blank"><i
                        class="icon ion-social-instagram"></i></a>
            </div>
        </div>
    </div>
</header>

<!-- Header Section End -->

<!-- About Section Start -->
<section id="about-me">
    <p class="heading-p" style="text-align: center;">Get To Know More</p>
    <h1 class="heading" style="text-align: center;">About Me</h1>
    <div class="section-text">
        <p>
    I am currently an Institute Postdoctoral Fellow in the Department of Mathematics at the
    Indian Institute of Technology Kanpur, where I am working with
    <a href="https://sites.google.com/view/keshab-bakshi/home" target="_blank" class="underlined-link">Prof.
        Keshab Chandra Bakshi</a>.
    Prior to joining IIT Kanpur, I was briefly a Postdoctoral Researcher at the Indian Institute of Technology
    Madras, where I worked with
    <a href="https://ioe.iitm.ac.in/people/kunal-krishna-mukherjee/" target="_blank"
        class="underlined-link">Prof. Kunal Krishna Mukherjee</a>.
    My research is in Operator Algebras, with particular interests in von Neumann algebras, properly infinite
    factors, and \(C^*\)-algebras. To learn more about my research, please visit my
    <a target="_blank" href="{{ url_for('main.research') }}" class="underlined-link">research page</a>.
</p>
<p>
    I received my PhD from the Indian Statistical Institute, Bangalore, where I carried out my doctoral research
    under the guidance of
    <a href="https://www.isibang.ac.in/~soumyashant/" target="_blank" class="underlined-link">Prof. Soumyashant
        Nayak</a>.
</p>


        <br>
        <p>
            My all-time hobby is coding. These days I code mostly in Python, but I am comfortable with
            C and C++ as well. I love solving real-world, day-to-day life problems using my coding skills
            whenever possible. I maintain several websites, including this personal website, all by myself.
            More of my projects can be found on my
            <a href="https://github.com/indrajit912" target="_blank" class="underlined-link">GitHub profile</a>.
        </p>
        <p>
            I am also an enthusiast of LaTeX and have developed several templates that I freely share.
            You can find and use these templates
            <a target="_blank" href="{{ url_for('misc.index') }}" class="underlined-link">here</a>.
        </p>
        <p>
            In addition to coding, I am an avid reader and book collector with a particular focus on
            science, mystery-thriller, and Bengali literature. I am also an enthusiastic badminton player
            and make it a point to play regularly. Recently, I have picked up a new hobby—<a href="{{ url_for('main.cooking') }}" class="underlined-link">cooking</a>—which has
            proven to be a fun (and occasionally adventurous!) way to unwind from my research and coding endeavors.
        </p>
        <p>
            If you are interested in my research activities, publications, academic achievements, and teaching
            experience,
            please see my
            <a class="underlined-link" href="{{ indra_academic_cv_link }}" target="_blank">Academic CV</a>.
        </p>

        <p>
            If you would like to learn more about my software development experience, technical projects,
            programming skills, and professional work, please refer to my
            <a class="underlined-link" href="{{ indra_professional_cv_link }}" target="_blank">Professional CV</a>.
        </p>
    </div>
</section>
<!-- About Section End -->

{% endblock %}{% block scripts %}
{{ super() }}
<script src="{{ url_for('main.static', filename='js/index_effects.js') }}"></script>
{% endblock %}
