<!-- 
    Homepage for the Website
    Author: Indrajit Ghosh
    Created On: Dec 22, 2023
 -->

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block styles %}
    {{ super() }}
    <!-- Additional styles specific to this template go here -->
{% endblock %}


{% block content %}

<!-- Header Section Start -->

<header id="home">
    <div class="indra-container header-container">
        <div class="header-left">
            <img src="{{ url_for('main.static', filename='images/profile.jpg') }}" class="profile-pic" alt="Indrajit's profile picture">
        </div>
        <div class="header-right">
            <p><b>Hello, I'm</b></p>
            <h1>Indrajit Ghosh</h1>
            <h3>Senior Research Fellow</h3>
            <h2>Indian Statistical Institute</h2>
            <span class="email-address">Email: rs_math1902@isibang.ac.in</span>
            <div class="header-action-area">
                <a href="#about-me" class="indra-btn indra-btn-dark">About me</a>
                <a href="{{ url_for('main.contact') }}" class="indra-btn">Contact</a>
            </div>
            <div class="header-social">
                <a href="https://github.com/indrajit912" target="_blank"><i class="icon ion-social-github"></i></a>
                <a href="https://www.linkedin.com/in/indrajit912/" target="_blank"><i class="icon ion-social-linkedin"></i></a>
                <a href="https://twitter.com/Meself_Indrajit" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://fb.com/indrajitghosh912" target="_blank"><i class="icon ion-social-facebook"></i></a>
                <a href="https://instagram.com/indrajitghosh912" target="_blank"><i class="icon ion-social-instagram"></i></a>
            </div>
        </div>
    </div>
</header>

<!-- Header Section End -->

<!-- About Section Start -->
<section id="about-me">
    <p class="heading-p" style="text-align: center;">Get To Know More</p>
    <h1 class="heading" style="text-align: center;">About Me</h1>
    <div class="section-text">
        <p>
            Greetings! I am honored to introduce myself as a Senior Research Fellow in the 
            Theoretical Statistics and Mathematics Unit (SMU) at the Indian Statistical Institute, 
            Bangalore Centre. My area of interest lies broadly in the domain of Operator Algebras with 
            a pronounced focus on von-Neumann algebras, Type \(II_1\) factors, and \(C^*\)-algebras.
        </p>
        <p>
            Currently, I have the privilege of being guided by the esteemed 
            <a href="https://www.isibang.ac.in/~soumyashant/" target="_blank" class="underlined-link">Dr. Soumyashant Nayak</a>
            on this rewarding journey.
        </p>
        <br>
        <p>
            As a dedicated book enthusiast, I embark on captivating journeys of exploration and knowledge 
            through the realm of literature. The act of collecting and immersing myself in books brings me 
            immense joy, particularly as I hold a special affinity for the worlds of science, mystery, and 
            Bengali literature.
        </p>
        <p>
            Embracing holistic well-being, I advocate for physical health. The afternoons witness 
            my spirited engagement in invigorating sessions of Badminton and Table Tennis, fostering 
            a balanced lifestyle within the vibrant confines of the ISI campus.
        </p>
        <br>
        <p>
            Proficient not only in the abstraction of mathematics but also in the practical realm 
            of programming, I wield Python as a potent tool to navigate and dissect intricate 
            mathematical landscapes. My toolkit extends to Latex, C, HTML, CSS and SQL, empowering me 
            to tackle challenges from multiple perspectives.
        </p>
        <p>
            Feel free to peruse my <a class="underlined-link" href="https://github.com/indrajit912/ModernCV/blob/29fb67ba78f021f6b67f43e1d068e52c6d499b21/indra_cv/cv.pdf" target="_blank">CV</a>, a testament to my academic journey.
        </p>
        </div>
</section>

<!-- About Section End -->


{% endblock %}