{% extends 'base.html' %}

{% block title %}Photos{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('main.static', filename='css/photo_style.css') }}">
{% endblock %}

{% block content %}

<section>

<div class="page-container pic-container">
    <div class="page-heading">
        <h1>Photo <span>Gallery</span></h1>
    </div>

    <div class="gallery">
        <div class="gallery-col">
            <img src="{{ url_for('main.static', filename='images/indrajit/herley.jpg') }}" alt='Indrajit writing on whiteboard'>
            <img src="{{ url_for('main.static', filename='images/indrajit/airplane.jpg') }}" alt='Indrajit in ISI Campus'>
        </div>
        <div class="gallery-col">
            <img src="{{ url_for('main.static', filename='images/indrajit/photo2.jpg') }}" alt='Indrajit in front of ISI Academic building' loading="lazy">
            <img src="{{ url_for('main.static', filename='images/indrajit/kapoor_cafe.jpg') }}" alt='Indrajit in ISI Campus' loading="lazy">
        </div>
        <div class="gallery-col">
            <img src="{{ url_for('main.static', filename='images/indrajit/blue_tokai.jpg') }}" alt='Indrajit in a restaurant' loading="lazy">
            <img src="{{ url_for('main.static', filename='images/indra_library/books.jpg') }}" alt='Indrajits ISI Bookshelf' loading="lazy">
        </div>
    </div>
</div>
</section>

{% endblock %}