{% extends 'base.html' %}

{% block title %}Miscellaneous{% endblock %}

{% block meta_tags %}
    {{ super() }}
    <meta name="keywords" content="past year entrance exam papers, isi entrance question papers, mathematics, tifr question papers, csit net question papers, nbhm question papers">
{% endblock %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('misc.static', filename='css/sticky_style.css') }}">
    <style>
        :root {
          --color-black: #000000;  
          --color-white: #ffffff;
          --color-dark: #353535;
          --color-dark-variant: #555555;
        }
        .misc-container {
          width: 95%;
          max-width: 1200px;
          margin: 20px auto;
        }
        .download-links {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }

        .download-links .btn {
            padding: 6px 8px; /* Adjusted padding */
            font-size: 14px; /* Adjusted font size */
        }

        .download-links a:not(:last-child) {
            margin-right: 10px; /* Adjusted margin between links */
        }

        .download-links .overleaf-link {
            width: 10rem;
        }

        .visit-button {
            width: 7rem;
        }

        .exam-container {
          width: 60%;
          max-width: 1220px;
          margin: 20px auto;
          padding: 20px;
          /* background-color: #fff; */
          /* border-radius: 5px; */
          /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
        }

        .exam-entry {
          display: grid;
          grid-template-columns: 1fr 1fr;
          position: relative;
          border-top: 2px solid black;
          /* border-bottom: 2px solid #fff; */
          margin-top: 25px;
          margin-bottom: 15px;
          padding-top: 15px;
        }

        .exam-entry .title {
          font-weight: 600;
          color: var(--color-dark);
        }

        .exam-papers {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .paper-group {
            margin-bottom: 9px; 
            display: flex;
            align-items: center;
        }

        .paper-group:last-child {
            margin-bottom: 0; /* Remove margin for the last paper-group */
        }

        .paper-year {
            margin-right: 20px;
        }

        .paper-link {
            font-size: 16px; /* Adjusted font size */
            width: 6rem;
            height: 3rem;
            margin-right: 10px;
        }

        .key-link {
            margin-right: 10px;
            font-size: 16px;
            width: 7rem;
            height: 3rem;
        }

        .net-key {
            width: 6rem;
            height: 3rem;
        }

        .net-papers {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }


        /* Media query for screens with a maximum width of 600px */
        @media (max-width: 600px) {
            .download-links {
                flex-direction: column;
                justify-content: space-between;
            }
            .download-links .btn,
            .download-links .visit-button,
            .download-links .overleaf-link {
                width: 10rem;
                height: 3rem;
                margin-bottom: 10px; /* Add space between links */
            }

            .exam-container {
                width: 100%;
            }
            .exam-entry {
                grid-template-columns: 1fr;
                padding-top: 10px;
            }

            .exam-entry .title {
              text-align: center;
              font-size: 15px;
              margin-bottom: 15px;
            }
        }
    </style>
{% endblock %}

{% block content %}

<section>
    <div class="page-container">
        <div class="page-heading">
            <h1>Miscellaneous</h1>
        </div>

    <p class="section-text">
        Welcome to the Miscellaneous Hub! Explore a curated collection of LaTeX templates for academic documents, discover valuable mathematics research resources, and access an archive of entrance exam papers. Whether you're a researcher, student, or enthusiast, find tools and materials to enhance your academic journey. From ISI PhD registration forms to AMS article templates and exam papers from institutions like ISI and NBHM, this page is a treasure trove of resources. Dive in and elevate your academic experience!
    </p>
    <div class="toc_container">
        <h2 class="toc_heading">Page Contents</h2>
        <ul>
            <li>
                <a href="#latex-templates" class="toc_title">LaTeX Templates</a>
            </li>
    
            <li>
                <a href="#math-research-resources" class="toc_title">Mathematics Research Resources</a>
            </li>
    
            <li>
                <a href="#exam-archive" class="toc_title">Various Entrance Exam Papers Archive</a>
            </li>
        </ul>
    </div>
    </div>
</section>

<section>
    <div class="misc-container">{% include 'tex_templates.html' %}</div>
</section>

<section>
    <div class="misc-container">{% include 'math_resources.html' %}</div>
</section>

<section>
    <div class="misc-container">{% include 'exam_archive.html' %}</div>
</section>


<!-- Add last updated information -->
<p class="last-updated">Last Updated: Dec 10, 2023</p>

<script src="{{ url_for('misc.static', filename='js/overleaf.js') }}"></script>

{% endblock %}
