<!-- 
    Functional Analysis page for the Website
    Author: Indrajit Ghosh
    Created On: Nov 14, 2023
 -->

 {% extends 'base.html' %}

 {% block title %}Functional Analysis (MMAT1), Even Sem 2021-22{% endblock %}
  
 {% block styles %}
     {{ super() }}
     <link rel="stylesheet" href="{{ url_for('teaching.static', filename='css/teaching_style.css') }}">
 {% endblock %}
 
  
 {% block content %}
 <section>
    <div class="teaching-container">
        <h1 class="heading page-title">Functional Analysis (MMAT1) - Even Semester 2021-2022</h1>
        <b>Term:</b> Even Semester 2021-2022<br>
        <b>Duration:</b> Jan 18 - Apr 28, 2022<br><br>
        <b>Course Name:</b> Functional Analysis (M. Math. I)<br>
        <b>Course Description:</b> <a href="https://www.isibang.ac.in/~adean/infsys/database/MMath/C7FA.html">Link to ISI course archives</a><br>
        <b>Instructor:</b> Soumyashant Nayak<br>
        <b>TA:</b> Indrajit Ghosh<br>
        <b>Class Schedule:</b> Tue 08:55 a.m. - 10:55 a.m., Thu 09:55 a.m. - 10:55 a.m. (Zoomlink shared over email)<br>
        <br>

        <h2>Textbooks and other references</h2>

        <ol>
            <li>W. Rudin, <i>Real and Complex Analysis</i>, (Chapters 1-3, 6).</li>
            <li>R. Kadison and J. Ringrose, <i>Fundamentals of the Theory of Operator Algebras : Vol. I - Elementary Theory</i>, (Chapters 1-2).</li>
            <li>J. Dieudonné, <i>History of Functional Analysis</i>, (General reference for understanding the origin of various ideas in functional analysis.)</li>
        </ol>
        <br>

        <h2>Assignments</h2>
        <ul>
            <li>
                <a href="https://isibang-my.sharepoint.com/:b:/g/personal/rs_math1902_isibang_ac_in/EQwfUPlzIwxApM5VV2Vyl9YBvrSziS1S4rwzN8Dt0DKo6Q?e=7NvHLB" target="_blank" class="underlined-link">
                    Assignment 1
                </a> (Due on: 
                <span class="datestamp"> Feb 14, 2022</span>)
            </li>

            <li>
                <a href="https://isibang-my.sharepoint.com/:b:/g/personal/rs_math1902_isibang_ac_in/EYdzeA0snLlDvn0RijqKXHMBlDCPC2fMvmL0NkZHEqJIbg?e=0kg5xv" target="_blank" class="underlined-link">
                    Assignment 2
                </a> (Due on: 
                <span class="datestamp"> Feb 25, 2022</span>)
            </li>

            <li>
                <a href="https://isibang-my.sharepoint.com/:b:/g/personal/rs_math1902_isibang_ac_in/EWx7PXcxrctAlcB8M7gjCzkBhxX9l5AnE_ptnrKEHIncnQ?e=rrDQ52" target="_blank" class="underlined-link">
                    Assignment 3
                </a> (Due on: 
                <span class="datestamp"> Mar 06, 2022</span>)
            </li>
            
            <li>
                <a href="https://isibang-my.sharepoint.com/:b:/g/personal/rs_math1902_isibang_ac_in/EVNhftcBuGtJsER8t0FfGzMBJTA3pkxwwBcIX0msqLGtfw?e=SCq3XT" target="_blank" class="underlined-link">
                    Assignment 4
                </a> (Due on: 
                <span class="datestamp"> Mar 24, 2022</span>)
            </li>

            <li>
                <a href="https://isibang-my.sharepoint.com/:b:/g/personal/rs_math1902_isibang_ac_in/EXhu6ctOs4dPk1nbVQ0L2Y0Bw_EMuvdDt8I9fR3fTWrzwQ?e=gGXTZa" target="_blank" class="underlined-link">
                    Assignment 5
                </a> (Due on: 
                <span class="datestamp"> Mar 31, 2022</span>)
            </li>

            <li>
                <a href="https://isibang-my.sharepoint.com/:b:/g/personal/rs_math1902_isibang_ac_in/EU9cPjw8hV9Nsd5OP8WxfIMBSwTo_NACjOzItwvBzaj8_A?e=fKsGxp" target="_blank" class="underlined-link">
                    Assignment 6
                </a> (Due on: 
                <span class="datestamp"> Apr 22, 2022</span>)
            </li>

            <li>
                <a href="https://isibang-my.sharepoint.com/:b:/g/personal/rs_math1902_isibang_ac_in/EWFHQ5WFrRRCtGPYYYy_rc0BRoFXu-llZk_eIk-p5PD0nA?e=klyEQo" target="_blank" class="underlined-link">
                    Assignment 7
                </a> (Due on: 
                <span class="datestamp"> May 05, 2022</span>)
            </li>
        </ul>
    </div>
</section>

<!-- Add last updated information -->
<p class="last-updated"><i class="bi bi-clock-history"></i> Last Updated: Dec 10, 2023</p>

 {% endblock %}
  
 