<!-- 
    Author: Indrajit Ghosh
    Created On: Jan 17, 2025
 -->

{% extends 'base.html' %}

{% block title %}Optimization (BMAT3) - Even Semester 2025{% endblock %}
   
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('teaching.static', filename='css/teaching_style.css') }}">
{% endblock %}
  
   
{% block content %}
<section> 
   <div class="teaching-container">
       <h1 class="heading page-title">Optimization (B. Math. III), Even Sem 2025</h1>
       <b>Term:</b> Even Semester 2025<br>
       <b>Duration:</b> Jan 01 - Apr 15, 2025<br><br>
       <b>Course Name:</b> Optimization (B. Math III)<br>
       <b>Syllabus:</b>
       
       <b>Instructor:</b> Soumyashant Nayak (Asst. Prof.)<br>
       <b>TA:</b> Indrajit Ghosh (SRF)<br>
       <b>Timing:</b> Mon 08:55 a.m. - 10:55 a.m., Wed 08:55 a.m. - 10:55 a.m.<br>
       <br>

        <h2>Textbooks and other references</h2>

        <ol>
            <li>D. Bertsimas and J. N. Tsitsiklis, <i>Introduction to Linear Optimization.</i></li>
            <li>D. P. Bertsekas, <i><a href="http://web.mit.edu/dimitrib/www/Convex_Theory_Entire_Book.pdf" target="_blank">Convex Optimization Theory.</a></i></li>
            <li>M. J. Kochenderfer and Tim A. Wheeler, <i>Algorithms for Optimization.</i></li>
            <li>R. Schneider, <i>Convex bodies: the Brunn-Minkowski theory</i> (Chapter 1).</li>
        </ol>

        <br>

        <h2>Assignments</h2>
        <ul>
            <li>
                <a href="https://isibang-my.sharepoint.com/:b:/g/personal/rs_math1902_isibang_ac_in/EQ_Tw1SN5vFEpmDTk62VrS0B9bmhoPY3QGK9HX__WohWXg?e=aFKmnz" target="_blank">Assignment 1</a> (Due date: Jan 27, 2025)
            </li>
            <li>
                <a href="https://isibang-my.sharepoint.com/:b:/g/personal/rs_math1902_isibang_ac_in/EUW3Jneqyr5GtDS6goqmhoQBqmfslTVG3_zoWfy7z-nrXA?e=bkk1Na" target="_blank">Assignment 2</a> (Due date: Feb 05, 2025)
            </li>
        </ul>

        <!-- <h2>Exam Paper</h2>
        <ul>
            <li>
                <a href="https://isibang-my.sharepoint.com/:b:/g/personal/rs_math1902_isibang_ac_in/Ec5IQLv1ruxIiqp5FbLG5M8B-WzCicnMHhA3ZHiqLDYFsQ?e=ijUGfP" target="_blank">Final Exam</a>
            </li>
        </ul> -->
        
        
</div>

</section>

<!-- Add last updated information -->
<p class="last-updated">Last Updated: Jan 26, 2025</p>

{% endblock %}