/* main/photo_style.css */

.pic-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pic-container .pic-heading {
    width: 50%;
    padding-bottom: 50px;
}

.pic-container .pic-heading h1 {
    border-bottom: 3px solid #222;
    padding-bottom: 10px;
}

.pic-container .pic-heading h1 span {
    font-weight: 100;
}

.pic-container .gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pic-container .gallery .gallery-col {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.pic-container .gallery .gallery-col img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
    /* display: block;
    height: auto; 
    aspect-ratio: 1 / 1;
    object-fit: cover; */
}

@media only screen and (max-width:769px) {
    .pic-container .gallery {
        flex-direction: column;
    }
    .pic-container .gallery .gallery-col {
        width: 100%;
    }
}

@media only screen and (max-width:686px) {
    .pic-container .pic-heading {
        width: 100%;
    }
    
    .pic-container .pic-heading h1 {
        font-size: 2rem;
    }
}