/* main/photo_style.css */

.pic-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pic-container .gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pic-container .gallery .gallery-col {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.pic-container .gallery .gallery-col img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
    /* display: block;
    height: auto; 
    aspect-ratio: 1 / 1;
    object-fit: cover; */
}

@media only screen and (max-width:769px) {
    .pic-container .gallery {
        flex-direction: column;
    }
    .pic-container .gallery .gallery-col {
        width: 100%;
    }
}