/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    border: none;
    outline: none;
    letter-spacing: .4px;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 7rem;
}

@media (max-width: 768px) {
    body {
        padding-top: 6rem; /* Adjust for smaller screens */
    }
}

:root {
    --color-black: #000000;  
    --color-white: #ffffff;
    --color-dark: #353535;
    --color-dark-variant: #555555;

    --transition: .4s ease;
}

h1,h2,h3,h4,h5 {
    line-height: 120%;
}

h1 {
    font-size: 48px;
    color: var(--color-black);
}

h2 {
    font-size: 28px;
    color: var(--color-dark-variant);
}

h3 {
    font-size: 26px;
    color: var(--color-black);
}

h4 {
    font-size: 19px;
    color: var(--color-black);
}

h4 {
    font-size: 18px;
    font-weight: 400;
}

.heading {
    text-align: center;
    margin-bottom: 3rem;
}

.scrollspy {
  scroll-margin-top: 105px;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-container .page-heading {
    text-align: center;
    margin-bottom: 2rem;
    width: 50%;
}

.page-heading h1 {
    /* border-bottom: 3px solid #222; */
    padding-bottom: 10px;
}

.page-heading h1 span {
    font-weight: 100;
}

@media only screen and (max-width:686px) {
    .page-container .page-heading {
        margin-bottom: 1rem;
        width: 100%;
    }
    
    .page-container .page-heading h1 {
        font-size: 30px;
    }
}

p {
    font-size: 17px;
    line-height: 140%;
    color: var(--color-dark-variant);
}

ol,
ul {
    color: var(--color-dark-variant);
    list-style-position: outside; /* Ensures the bullet points are outside the box */
    padding-left: 2em; /* Adjust as needed to move the bullet points inside the container */
}

ol li,
ul li {
    margin-bottom: 0.2rem; /* Adjust the margin between list items */
}


.heading-p {
    padding-top: 9rem;
    text-align: center;
}

.header-social a,
nav a {
    font-size: 24px;
    color: var(--color-black);
    text-decoration-color: var(--color-white);
    transition: var(--transition);
}

nav a:hover {
    color: var(--color-dark-variant);
    text-decoration-color: var(--color-dark-variant) !important;
    text-underline-offset: 1rem;
    text-decoration: underline;
}

.indra-btn {
    display: inline-block;
    width: fit-content;
    padding: 1rem;
    width: 9rem;
    border-radius: 2rem;
    cursor: pointer;
    color: var(--color-black);
    border: 1px solid var(--color-dark-variant);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    transition: var(--transition);
    text-decoration: none;
}

.indra-btn:hover {
    background: var(--color-dark-variant);
    color: var(--color-white);
}

.indra-btn-dark {
    color: var(--color-white);
    background: var(--color-dark);
    text-decoration: none !important;
}

.indra-btn-dark:hover {
    background: var(--color-black);
}

.header-action-area a {
    text-decoration: none;
}

/* styling for the scroll-up button */
#scrollUpBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.scrollup-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--color-white);
    position: relative;
    top: -10px; /* Adjust the top position to center the circle */
    left: -10px; /* Adjust the left position to center the circle */
    width: 50px; /* Adjust the size of the circle */
    height: 50px; /* Adjust the size of the circle */
    background-color: var(--color-dark-variant);
    border-radius: 50%; /* Make it a circle */
}

@media (max-width:600px) {
    .scrollup-circle {
        top: -80px
    }
}

img {
    width: 100%;
    display: block;
}

.indra-container {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: auto;

    /* border: 2px solid #ca0505; */
    /* padding: 10px; */
}

section {
    padding-top: 4vh;
    margin: 0 10rem;
    margin-bottom: 5rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-text {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    flex-direction: column;
}

section h2 {
    margin-bottom: 0.3rem;
}

/* Twitter X icon */
.fa.fa-twitter::before {
    display: inline-block;
    width: 1em;
    height: 1em;
    content: "";
    background-color: currentColor;
    -webkit-mask: url('data:image/svg+xml;utf8,<svg viewBox="0 -8 26 30" xmlns="http://www.w3.org/2000/svg"><g><path fill="white" d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path></g></svg>') no-repeat center;
    mask: url('data:image/svg+xml;utf8,<svg viewBox="0 -8 26 30" xmlns="http://www.w3.org/2000/svg"><g><path fill="white" d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path></g></svg>') no-repeat center;
    background-position: center 3px;
}


/* Media query for screens with a maximum width of 768px (adjust as needed) */
@media only screen and (max-width: 768px) {
    section {
        margin: 0 1.5rem; /* Adjust the margin for smaller screens */
    }

    section h1 {
        font-size: 30px; /* Adjust font size as needed */
    }

    section h2 {
        font-size: 20px; /* Adjust font size as needed */
        margin-top: 0.2rem; /* Adjust margin as needed */
    }

    section h3 {
        font-size: 18px;
    }

    ol li,
    ul li,
    p {
        font-size: 14px; /* Adjust font size as needed */
    }

    .indra-btn {
        width: 100%; /* Make buttons take full width */
        max-width: 150px; /* Set a maximum width if needed */
        font-size: 12px; /* Adjust font size as needed */
        padding: 1rem; /* Adjust padding as needed */
    }
}

/* Media query for iPad Screen */
@media (max-width: 973px) {
    section {
        margin: 0 1.6rem; /* Adjust the margin for smaller screens */
    }
}


/* .......................... Start Nav bar ......................... */
nav {
    height: 6rem;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: var(--color-white);
    /* background-color: red; */
}

.nav-container ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    list-style: none;
}

.logo {
    font-size: 32px;
    color: var(--color-black) !important;
    text-decoration: none !important;
}

.nav-links {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: var(--color-white);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar .nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.menu-btn {
    display: none;
}

@media(max-width: 985px){
    /* iPad Screen */
    .hideOnMobile {
        display: none;
    }

    .menu-btn {
        display: block;
    }
} 

@media(max-width: 500px){
    .hideOnMobile {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .sidebar {
        width: 100%;
    }

    .logo {
        font-size: 25px;
    }
}


/* .......................... End Nav bar ......................... */


/* ........................ Start Header Section ...................... */
header {
    padding: 8rem;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 820px;
    gap: 20px;
    justify-content: space-between;

    /* border: 2px solid #000; */
    /* padding: 10px; */
}

.profile-pic {
    border-radius: 70%;
}

.header-left {
    display: flex;
    height: 300px;
    width: 300px;
    margin: auto 0;
}

.header-right {
    align-self: center;
    text-align: center;
}

.header-right p {
    color: var(--color-dark-variant);
}

.header-right h2 {
    margin-top: .4rem;
}

.header-action-area {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.header-social {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem auto;
}

.email-address {
    font-size: 14px;
    color: var(--color-dark-variant);
    font-family: 'Roboto Mono', monospace;
}

/* ........................ Start Header Section for Mobile ...................... */
@media (max-width: 600px) {
    header {
        padding: 3rem;
    }

    .header-container {
        grid-template-columns: 1fr; /* Set to a single column for smaller screens */
        justify-content: center; /* Center items horizontally */
    }

    .header-left {
        width: 200px;
        height: 200px;
        margin: 0 auto 2rem;
    }

    .header-right {
        text-align: center;
        width: 100%;
    }

    .header-right h1 {
        font-size: 30px; /* Adjust font size as needed */
    }

    .header-right h2 {
        font-size: 20px; /* Adjust font size as needed */
        margin-top: 0.2rem; /* Adjust margin as needed */
    }

    .header-right h3 {
        font-size: 18px;
    }

    .header-action-area {
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        flex-direction: row; /* Stack buttons vertically on smaller screens */
        align-items: center;
    }

    .header-action-area .indra-btn {
        width: 8rem;
        font-size: 12px;
    }

    .header-social {
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin: 1rem auto;
    }

    .email-address {
        font-size: 12px; /* Adjust font size as needed */
    }
}

/* Styles for iPad screen */
@media (max-width: 973px) and (min-width: 700px){
    .header-container {
        grid-template-columns: 1fr; /* Set to a single column for smaller screens */
    }
    #home {
        padding-top: 10rem;
    }

    .header-left {
        margin: auto;
    }

    .header-right {
        margin-top: 25px;
    }
}

/* Styles for larger screens */
@media (min-width: 1600px) {
    #home {
        padding-top: 13rem;
    }

    .header-container {
        max-width: 900px;
    }

    .header-right h1 {
        font-size: 60px;
    }
    
    .header-right h2 {
        font-size: 30px;
    }
    
    .header-right h3 {
        font-size: 28px;
    }
    
    .header-right p {
        font-size: 30px;
    }
}
/* ........................ End Header Section ...................... */


/* ........................ Start Misc Styles ...................... */

/* New styles for last updated information */
.last-updated {
  color: #999;
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-family: 'Courier New', monospace;
  width: 60%;
  /* Center the last updated information */
  margin-left: auto;
  margin-right: auto;
}

a.back-to-top {
    margin: 0 auto;
}

/* Add a class to style the underlined link */
.underlined-link {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
    /* Adjust the margin and font size for larger screens */
    .last-updated {
      margin-top: 30px;
      font-size: 12px;
      width: 80%;
    }

    a.back-to-top {
        width: 7rem;
        font-size: 11px;
    }
}

/* ........................ End Misc Styles ...................... */


/* ........................ Start Contact Form Styles ...................... */
.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.contact-form form {
    position: relative;
    width: 600px;
}

.custom-input,
.msg-input {
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: var(--color-dark);
    color: var(--color-white);
    margin-bottom: 20px;
    border-radius: 10px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: var(--color-white);
    font-size: 15px;
}

.contact-form textarea {
    resize: none;
}

.contact-form .send-btn {
    display: inline-block;
    padding: 11px 25px;
    background: var(--color-dark);
    color: var(--color-white);
    border: 2px solid var(--color-dark);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .6s;
    width: 30%;
}

.contact-form .send-btn:hover {
    background: transparent;
    color: var(--color-dark);
    box-shadow: 0 0 20px var(--color-dark);
    cursor: pointer;
}

/* Add styling for the attachment container */

#attachment-container > div {
    display: flex;
    align-items: baseline; /* Change to 'baseline' for proper vertical alignment */
    justify-content: space-between;
    margin-bottom: 7px;
}

#attachment-container input[type="file"] {
    margin-right: 10px;
    padding: 5px; /* Adjust padding as needed */
    border-radius: 5px;
    border: 1px solid #ccc; /* Add a border for better visibility */
    box-sizing: border-box; /* Include padding in the width */
}

#attachment-container p {
    margin-right: 10px;
    font-weight: bold;
}

#attachment-container button {
    background-color: #ff6666; /* Red color, adjust as needed */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    /* Add additional styles as needed */
}

#add-more-btn {
    background-color: #4CAF50; /* Green color, adjust as needed */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    /* Add additional styles as needed */
    margin-bottom: 10px;
}


@media(max-width: 786px) {
    .contact-form .send-btn {
        width: 50%;
    }
}


/* ........................ End Contact Form Styles ...................... */


/* ........................ Start Footer Section ...................... */

.footer-basic {
  padding:20px 0;
  background-color: var(--color-white);
  color: var(--color-black);
  margin-top: 20px;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:12px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}
  
.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid var(--color-black);
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color: var(--color-dark);
  margin-bottom:0;
}

/* ........................ End Footer Section ...................... */